@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.nav-link:hover {
  color: #ffffff!important;
  background-color: #023047;
}

#download a {
  text-decoration: none;
  color: #000;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination > .active > a{
  border-color: #c9d6d8 ;
  color: #000;
}

.pagination > li > a{
  border: 1px solid #c9d6d8 ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}